:root {
  --purple: #bbc0dd;
  --white: #f5f6f6;
  --gray: #b4b4b4;
  --green: #96c3ca;
  --yellow: #c5cb90;
  --purple-product: #908ac7;
}

html {
  font-family: var(--font-poppins);
  font-size: 16px;
}
