.homePage {
  min-height: 100vh;
  background: var(--white);
}

@media screen and (min-width: 992px) {
  .homePage {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .homePage {
    padding: 0 3rem;
  }
}
